{% extends "base/app/base.html" %}
{% load static thumbnail humanize _filters _article_filter i18n %}

{% comment %}
{% block title %}{{ app.get_title }}:{{ app.short_description }}{% endblock title %}
{% endcomment %}

{% block app_css %}{% endblock app_css%}


{% block app_js %}
    <script type="text/javascript" src="{% static "app/js/pages/team/articles/articles.js" %}?version={{STATIC_VERSION}}" ></script>
{% endblock app_js%}

{% block sidebar %}
    {% include "../_sidebar.html" %}
{% endblock sidebar %}

{% block content %}

    <!-- Content area -->
    <div class="content">

        {% csrf_token %}

        {% include "../_dataview_control_bar.html" with detail_url=articlebase.get_detail_url analytics_url=articlebase.get_analytics_url records_url=articlebase.get_records_url enable_analytics=False %}

        <div class="row" style="margin-top:80px">

            {# left section #}
            <div class="col-md-4">

                {# basic profile #}
                <div class="panel text-center" style="padding-top:80px">

                    <div class="panel-heading">

                        <div class="panel-title h1">

                            {% if  TEAM.has_child %}
                                <div class="text-primary">{{articlebase.team.name}} - {{articlebase.external_id}}</div>
                            {% else %}
                                <div class="text-primary">{{articlebase.external_id}}</div>
                            {% endif %}

                        </div>

                    </div>

                    <div class="h5 text-semibold mb-20">{% trans "文章編號" %}</div>

                    <table class="table text-left">

                        <tr class="row">

                            <td class="col-md-4">{% trans "文章狀態" %}</td>

                            <td class="col-md-8">

                                <span class="mr-20">{{articlebase.status|article_status_display}}</span>

                            </td>

                        </tr>

                        <tr class="row">
                            <td>{% trans "來源" %}</td>
                            <td><a href="{{datasource.get_detail_url}}" target="_blank">{{ articlebase.datasource.name }}</a></td>
                        </tr>

                        <tr class="row">
                            <td>{% trans "發布日期" %}</td>
                            <td>
                                {% if articlebase.datetime %}
                                    {{ articlebase.datetime|date:"Y-m-d" }}
                                {% else %}
                                    {% trans "未發布" %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr class="row">
                            <td>{% trans "作者" %}</td>
                            <td>
                                {{ articlebase.author }}
                            </td>
                        </tr>

                    </table>

                </div>

                {# 屬性與狀態 #}
                <div class="panel panel-white">

                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans "屬性與狀態" %} ({{ articlebase.attributions|length }})</h5>
                        <div class="heading-elements"></div>
                    </div>

                    <div class="panel-body">
                        {% for label, value in articlebase.attributions.items %}
                            <span class="label barticle-left-primary label-striped mr-10 mb-10 label-article">{{ label }} : {{ value }}</span>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="col-md-8">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans "內容" %} ({{ articlebase.get_pure_text_count }})</h5>
                        <div class="heading-elements"></div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <iframe srcDoc="{{articlebase.content}}" width="100%" height="500px" frameBarticle="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">


            {# 智能貼標 #}
            <div class="panel panel-white">

                {% with articlebase.get_tag_slots as tag_slots %}

                <div class="panel-heading">
                    <h5 class="panel-title">智能貼標 ({{ tag_slots|length }})</h5>
                    <div class="heading-elements"></div>
                </div>

                <div class="panel-body tags">

                    {% for tag_slot in tag_slots %}
                        {% if tag_slot.tag.tag_type == MANUAL_TAG %}
                            <a class="mr-20 mb-10 tag-secondary" tag-id="{{ tag_slot.tag.uuid }}" data-text="{{tag_slot.tag.name}} ({{ tag_slot.amount }})" href="{% url 'tag_assigner:detail' tag_slot.tag.uuid %}" target="_blank">{{ tag_slot.tag.name }} ({{ tag_slot.amount }})<i class="icon-cross3 ml-5 remove-tag text-danger-400"></i></a>
                        {% else %}
                            <a class="mr-20 mb-10 tag-primary" tag-id="{{ tag_slot.tag.uuid }}" href="{% url 'tag_assigner:detail' tag_slot.tag.uuid %}" data-text="{{tag_slot.tag.name}} ({{ tag_slot.amount }})" target="_blank">{{ tag_slot.tag.name }} ({{ tag_slot.amount }})</a>
                        {% endif %}
                    {% endfor %}

                </div>

                {% endwith %}

        </div>
    </div>
    <!-- /content area -->

{% endblock content %}