{% extends "base/app/base.html" %}
{% load static thumbnail humanize _filters _team_tags _article_filter bootstrap_pagination i18n %}

{% block app_css %}
    <link href="{% static "app/css/pages/team/orders/orders.css" %}" rel="stylesheet" type="text/css">
{% endblock app_css %}

{% block app_js %}
    <script type="text/javascript" src="{% static "app/js/plugins/forms/editable/editable.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "app/js/pages/team/orders/orders_list.js" %}?version={{ STATIC_VERSION }}" ></script>
{% endblock app_js %}

{% block sidebar %}
    {% include "team/_sidebar.html" %}
{% endblock sidebar %}

{% block content %}

    {% with CURRENT_TEAM_AUTH|check_auth:'can_edit_data' as has_edit_data_permission %}
    <!-- Content area -->
    <div class="content" data-date_start="{{ date_start }}" data-date_end="{{ date_end }}" id="content">

        {% csrf_token %}

        <div class="row">

            <div class="col-md-9">

                <div class="panel panel-white block-when-runnning">

                    {% with team_has_child=TEAM.has_child %}

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="">
                                <th class="col-md-2 text-left">{% trans "來源/編號" %}</th>
                                <th class="col-md-2 text-left">{% trans "狀態" %}</th>
                                <th class="col-md-2 text-center">{% trans "作者" %}</th>
                                <th class="col-md-2 text-center">{% trans "發布日" %}</th>
                                <th class="col-md-3 text-left">{% trans "訂購人" %}</th>
                                <th class="col-md-1 text-right">{% trans "文長" %}</th>
                            </thead>

                            <tbody class="text-size-small">

                                {% for articlebase in articlebases %}
                                    <tr data-id="{{ articlebase.external_id }}">
                                        {# 來源/編號 #}
                                        <td class="text-left">
                                            {% if team_has_child %}
                                                <div class="text-size-small">{{ articlebase.team.name }}</div>
                                            {% endif %}
                                            {# 來源 #}
                                            <div class="">
                                                <a class="" href="{% url 'datahub:datasource-detail' articlebase.datasource.uuid %}" target="_blank">{{ articlebase.datasource.name }}</a>
                                            </div>
                                            {# 編號 #}
                                            <a href="{{articlebase.get_detail_url}}" target="_blank">[{{ articlebase.external_id }}] {{ articlebase.title }}</a>
                                        </td>

                                        {# 狀態 #}
                                        <td class="text-left">
                                            {{ articlebase.status|article_status_display }}
                                        </td>

                                        {# 作者 #}
                                        <td class="text-center">
                                            {{ articlebase.author }}
                                        </td>

                                        {# 發布日期 #}
                                        <td class="text-center">
                                            {% if articlebase.status == 'CONFIRMED' %}
                                                {{ articlebase.datetime|date:"Y-m-d" }}<br>
                                            {% else %}
                                                {% trans "未發布" %}
                                            {% endif %}
                                        </td>

                                        {# 訂購人 #}
                                        <td class="text-left">

                                            {% if articlebase.purchaser_name != "" %}

                                                <div>
                                                    <a href="{{articlebase.clientbase.get_detail_url}}" target="_blank">
                                                    {{ articlebase.purchaser_name }}
                                                    </a>
                                                </div>
                                                <div>{{ articlebase.get_masked_purchaser_email }}</div>
                                                <div>{{ articlebase.get_masked_purchaser_contact_phone }}</div>

                                            {% else %}

                                                <div>
                                                    <a href="{{articlebase.clientbase.get_detail_url}}" target="_blank">
                                                    {% if articlebase.clientbase.name %}
                                                    {{ articlebase.clientbase.name }}
                                                    {% else%}
                                                    --
                                                    {% endif %}
                                                    </a>
                                                </div>
                                                {% if articlebase.clientbase.email %}
                                                    <div>{{ articlebase.clientbase.get_masked_email }}</div>
                                                {% endif %}
                                                {% if articlebase.clientbase.get_masked_contact_phone %}
                                                    <div>{{ articlebase.clientbase.get_masked_contact_phone }}</div>
                                                {% endif %}

                                            {% endif %}

                                        </td>

                                        {# 文長 #}
                                        <td class="text-right">
                                            <div class="h5" id="op_{{ articlebase.external_id }}_total_price">{{ articlebase.get_pure_text_count }} 字</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        {# 內容預覽 #}
                                        <td class="text-left" colspan=6>

                                            <div class="panel-collapsed">

                                                <div class="panel-heading">

                                                    <div class="panel-title text-muted">
                                                        {% trans "內容預覽" %}
                                                    </div>

                                                    <div class="heading-elements">
                                                        <ul class="icons-list">
                                                            <li><a data-action="collapse" class="text-info"></a></li>
                                                        </ul>
                                                    </div>

                                                </div>

                                                <div class="panel-body" style="display: none;">

                                                    {{ articlebase.content|safe }}

                                                </div>

                                            </div>

                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                    </div>

                    {% endwith %}

                </div>

                {% if articlebases %}
                <div class="text-center content-group-lg pt-20">
                    {% bootstrap_paginate articlebases range=10 show_prev_next="false" show_first_last="true" %}
                </div>
                {% endif %}

            </div>


            <div class="col-md-3">

                <div class="row">
                    <div class="col-md-6 text-left">
                        <button class="btn btn-yellow heading-btn btn-search" id="btn-search">{% trans "開始查詢" %}</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <a type="button" class="btn btn-gray heading-btn text-white" id="btn-clean" href="{% url 'team:orders' %}">{% trans "清除全部條件" %}</a>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="panel panel-flat mt-10 block-when-runnning" id="filter-params-count">

                            <div class="panel-body text-center">
                                <div class="h1 text-info" id="result-count" data-value="{{ articlebase_count|floatformat:0|int_format }}">{{ articlebase_count|floatformat:0|int_format }}<span class="text-size-small ml-5">筆</span></div>

                                <div class="">
                                    <button type="button" class="btn btn-info daterange-ranges" style="width:100%">
                                        <i class="icon-calendar22 position-left"></i> <span></span> <b class="caret"></b>
                                    </button>
                                </div>

                            </div>

                        </div>

                        <div class="panel panel-flat mt-10 block-when-runnning">

                            <div class="panel-body">

                                <div class="row">

                                    {# 訂單編號查詢 #}
                                    <div class="col-md-12">
                                        <legend class="text-muted">{% trans "訂單編號查詢，可用 , 隔開關鍵字" %}</legend>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="search-key" id="serach-key" placeholder="{% trans "輸入訂單編號" %}" search-type="clients" autofocus>

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="btn-search text-left mt-10" style="cursor: pointer">
                                            <i class="icon-search4 text-muted"></i>
                                        </div>

                                    </div>


                                    {# 訂單狀態 #}
                                    <div class="col-md-12">

                                        <legend class="mt-10 text-muted">
                                            <a href="{% url 'datahub:mapping_list_status' %}" target="_blank" class="text-info"><u>{% trans "訂單狀態" %}</u></a>
                                        </legend>

                                        <div class="mt-10 mr-10 text-size-small" style="position: absolute; right:0; top:10px">
                                            <a href="#" class="list_operation" data-action="select_all" data-target="status">{% trans "全選" %}</a> / <a href="#" class="list_operation" data-action="cancle_all" data-target="status">{% trans "取消" %}</a>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        {% for status in status_list %}
                                            <div class="checkbox order-status">
                                                <label>
                                                    <input type="checkbox" class="styled" name="status" value="{{ status }}" {% if status.key in enabled_status_list %}checked{% endif %}>
                                                    &nbsp;&nbsp;{{ status.localization.zh_tw }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    {# 訂單來源 #}
                                    <div class="col-md-12">
                                        <legend class="text-muted mt-10">{% trans "訂單來源" %}</legend>

                                        <div class="mt-10 mr-10 text-size-small" style="position: absolute; right:0; top:10px">
                                            <a href="#" class="list_operation" data-action="select_all" data-target="source">{% trans "全選" %}</a> / <a href="#" class="list_operation" data-action="cancle_all" data-target="source">{% trans "取消" %}</a>
                                        </div>

                                    </div>

                                    <div class="col-md-12">

                                        {% for source in source_list %}
                                            <div class="checkbox order-source">
                                                <label>
                                                    <input type="checkbox" class="styled" name="source" value="{{ source.uuid }}" {% if source.uuid in enabled_source_list %}checked{% endif %}>
                                                    <span class="ml-5">{{ source.name }}</span>
                                                </label>
                                            </div>
                                        {% endfor %}

                                    </div>


                                    {# 排序方式 #}
                                    <div class="col-md-12">
                                        <legend class="mt-10 text-muted">{% trans "排序方式" %}</legend>

                                        <ul class="list-unstyled">

                                            <li>
                                                <input class="styled radio-element" type="radio" name="order-type" value="amount" id="order-amount" {% if view.order_type == 'amount' %}checked=""{% endif %}>

                                                <label class="ml-10 mb-0" for="order-amount" style="cursor:pointer">{% trans "總金額" %}</label>
                                            </li>

                                            <li>
                                                <input class="styled radio-element" type="radio" name="order-type" value="purchase_date" id="order-purchase_date" {% if view.order_type == 'purchase_date' %}checked=""{% endif %}>

                                                <label class="ml-10 mb-0" for="order-purchase_date" style="cursor:pointer">{% trans "作者" %}</label>
                                            </li>

                                            <li>
                                                <input class="styled radio-element" type="radio" name="order-type" value="delivery_date" id="order-delivery_date" {% if view.order_type == 'delivery_date' %}checked=""{% endif %}>

                                                <label class="ml-10 mb-0" for="order-delivery_date" style="cursor:pointer">{% trans "發布日" %}</label>
                                            </li>

                                        </ul>

                                    </div>


                                    {# 進階條件 #}
                                    <div class="col-md-12">
                                        <legend class="text-muted mt-10">{% trans "進階條件" %}</legend>

                                        {# 品項變動過 #}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="styled" id="product_changed" value="1" {% if product_changed == 1 %}checked{% endif %}>
                                                <span class="ml-5">{% trans "品項變動過" %}</span>
                                            </label>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>
    <!-- /content area -->
    {% endwith %}

{% endblock content %}