{% extends "base/app/base.html" %}
{% load static thumbnail humanize _filters _article_filter i18n %}

{% comment %}
{% block title %}{{ app.get_title }}:{{ app.short_description }}{% endblock title %}
{% endcomment %}

{% block app_css %}{% endblock app_css%}


{% block app_js %}
    <script type="text/javascript" src="{% static "app/js/pages/team/articles/articles.js" %}?version={{STATIC_VERSION}}" ></script>
{% endblock app_js%}

{% block sidebar %}
    {% include "team/_sidebar.html" %}
{% endblock sidebar %}

{% block content %}

    <!-- Content area -->
    <div class="content">

        {% csrf_token %}

        {% include "../_dataview_control_bar.html" with detail_url=articlebase.get_detail_url analytics_url=articlebase.get_analytics_url records_url=articlebase.get_records_url enable_analytics=False %}

        <div class="row">

            {# middle section #}
            <div class="col-md-12">

                {# 閱讀紀錄 #}
                <div class="panel panel-white">

                    <div class="panel-heading">
                        <h5 class="panel-title">閱讀紀錄 ({{ readbases|length }})</h5>
                        <div class="heading-elements"></div>
                    </div>

                    <div class="table-active">

                        <table class="table text-left">

                            <thead>
                                <tr class="row">
                                    <th class="col-md-3">讀者</th>
                                    <th class="col-md-6">網址</th>
                                    <th class="col-md-1"><div class="text-center">閱讀率</div></th>
                                    <th class="col-md-2"><div class="text-right">時間</div></th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for readbase in readbases %}

                                    <tr class="row">
                                        {# 讀者 #}
                                        <td>
                                            {% if readbase.clientbase %}
                                                <a href="{{ readbase.clientbase.get_detail_url }}" target="_blank">{{readbase.clientbase.name}}</a>
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>

                                        {# 網址 #}
                                        <td>
                                            {% if readbase.path %}
                                                <a class="text-info" href="{{ readbase.path }}">{{ readbase.path }}</a>
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>

                                        {# 閱讀率 #}
                                        <td>
                                            <div class="text-center">
                                                {{ readbase.progress|percent:1 }} <span class="text-muted text-size-small">%</span>
                                            </div>
                                        </td>

                                        {# 時間 #}
                                        <td>
                                            <div class="text-right">{{ readbase.datetime }}</div>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /content area -->

{% endblock content %}